.btn-fold {
    display: none;
}

.fas {
    cursor: pointer;
}

.btn-share--disabled {
    margin: 0 auto;
    background-color: $color-btn-disabled;
}

//media queries
@media all and (min-width:768px) {
    .build-container {
        display: flex;
        flex-direction: row-reverse;
        margin: 20px 40px 20px 20px;
        justify-content: center;
    }
   
    .selectors-design,
    .selectors-font {
        grid-gap: 82px;
    }
}

input {
    padding-bottom: 6px;
    padding-left: 9px;
    padding-top: 4px;
    border: 1px solid $palette-blue-ligth;
    outline-style: none;
    width: 281px;
}

::placeholder {
    color: $color-pinkish-grey;
}

.checkbox_input {
    max-width: 27px;
}