@import '../stylesheets/components/typography';
@import '../stylesheets/core/variables';

.box-selector {
    display: flex;
    border-bottom: 1px solid $color-midtone;
    margin-bottom: 10px;
    padding-bottom: 7px;
    align-items: center;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.fill {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 30px;
    padding: 0;
}

.contact {
    font-family: $open;
    font-size: 14px;
    line-height: 20px;
    color: $palette-blue-dark;
    max-width: 280px;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
}

.add_image {
    display: flex;
    flex-direction: row;
}

.button_ad_image {
    display: inline-block;
    height: 30px;
    width: 140px;
    color: $color-ligth;
    background-color: $color-primary;
    margin-right: 30px;
    margin-top: 6px;
    outline: none;
    border: none;
    border-radius: 3px;
    font-family: $open;
    font-size: 14px;
    line-height: 20px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
}

.btn__hidden {
    display: none;
}

.preview-box {
    width: 30px;
    height: 30px;
    border: 1px solid $palette-blue-ligth;
    margin-top: 6px;
    background-position: center;
    background-size: cover;
}

.checkbox_contact {
    margin-bottom: 10px;
    margin-top: 20px;
}

.check_styles {
    font-family: $open;
    font-size: 14px;
    line-height: 20px;
    color: $palette-blue-dark;
    margin-bottom: 11px;
}

.skillsOptions{
    list-style: none;
}

.skill-Box-Check{
    max-width: 27px;
}

