@import '../stylesheets/components/typography';
@import '../stylesheets/core/variables';

.selectors-container {
    padding: 27px 20px;
    background-image: linear-gradient(to bottom, $color-back, $color-ligth);
}

.hide-box {
    display: none;
}