@import '../stylesheets/components/typography';
@import '../stylesheets/core/variables';

.card-msg {
    font-family: $open;
    font-size: 18px;
    font-weight: 600;
    color: $color-secondary; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.msg-text {
    padding: 20px 0 5px;
}

.share-link {
    text-decoration: none;
}

.link {
    font-size: 12px;
    color: $color-primary;
}

.btn-twitter {
    color: $color-ligth;
    background-color: $color-twitter;
    width: 181px;
    height: 30px;
    border-radius: 3px;
    margin: 10px 0 30px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
}

.twitter-link {
    color: $color-ligth;
    margin-left: 10px;
    font-family: $font-default;
    font-size: 14px;
    text-decoration: none;
}